@import '../../../styles/variables.scss';

.custom-hr {
  margin: 64px 0;
  background: $theme-gradient;
  border: none;
  height: 2px;
}

.title-hr {
  margin: 40px 0;
  border-top: 1px solid #e5e5e5;
  height: 0;
}

@media (max-width: 576px) {
  .title-hr {
    display: none;
  }
}